body {
  box-sizing: border-box;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #212121;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #337ab7;
  margin-bottom: 20px;
  font-size: 40px;
}
.container {
  background-color: #ddd;
  width: 100%;
  max-width: 500px;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tasks {
  display: none;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task:last-child {
  border-bottom: none;
}

.task-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-done,
.task-delete {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
}

.task-delete {
  background-color: #d9534f;
  margin-left: 10px;
}

.add-task {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.add-task label {
  font-weight: bold;
  margin-right: 10px;
}

.add-task input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 18px;
  width: 100%;
}

.add-task button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  background-color: #337ab7;
  color: white;
  cursor: pointer;
}
